body{background-color: aqua;}

div {
    background-color: red;
}

section {
    background-color: azure;
}

img {
    height: 250px;

}
.container {
    background: blue;
}
a:hover {
    color: black;
    cursor: pointer;
}

li {
    font-size: small;
    

}